<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DroneUploader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DroneUploader.My.MySettings>
            <setting name="src_ordner" serializeAs="String">
                <value />
            </setting>
            <setting name="orto_src" serializeAs="String">
                <value />
            </setting>
            <setting name="view_src" serializeAs="String">
                <value />
            </setting>
            <setting name="server_url" serializeAs="String">
                <value>https://api.h2com.eu</value>
            </setting>
            <setting name="server_api_key" serializeAs="String">
                <value />
            </setting>
        </DroneUploader.My.MySettings>
    </userSettings>
</configuration>
